# Global Reviewer
/.github @rancher/release-team
/scripts @rancher/release-team
/CNAME @rancher/release-team
/Makefile @rancher/release-team
/README.md @rancher/release-team
/_config.yml @rancher/release-team
/index.html @rancher/release-team
#--------------------------------------------------------------------------------------
/config/configuration.yaml @rancher/release-team
/config/version_rules.json @rancher/release-team
#--------------------------------------------------------------------------------------
packages/elemental @rancher/elemental
assets/elemental @rancher/elemental
#--------------------------------------------------------------------------------------
packages/fleet @rancher/fleet
assets/fleet @rancher/fleet
assets/fleet-crd @rancher/fleet
assets/fleet-agent @rancher/fleet
#--------------------------------------------------------------------------------------
packages/harvester @rancher/harvester
assets/harvester-cloud-provider @rancher/harvester
assets/harvester-csi-driver @rancher/harvester
assets/harvester-rbac @rancher/harvester
#--------------------------------------------------------------------------------------
packages/longhorn @rancher/longhorn
assets/longhorn @rancher/longhorn
packages/longhorn-crd @rancher/longhorn
assets/longhorn-crd @rancher/longhorn
#--------------------------------------------------------------------------------------
packages/neuvector @rancher/neuvector
assets/neuvector @rancher/neuvector
assets/neuvector-monitor @rancher/neuvector
assets/neuvector-crd @rancher/neuvector
#--------------------------------------------------------------------------------------
packages/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-gke-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-aks-operator-crd @rancher/highlander @rancher/infracloud-team
assets/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-eks-operator-crd @rancher/highlander @rancher/infracloud-team
assets/rancher-gke-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-gke-operator-crd @rancher/highlander @rancher/infracloud-team
#--------------------------------------------------------------------------------------
packages/rancher-ali-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-ali-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-ali-operator-crd @rancher/highlander @rancher/infracloud-team
#--------------------------------------------------------------------------------------
packages/rancher-csp-adapter @rancher/socket
assets/rancher-csp-adapter @rancher/socket
#--------------------------------------------------------------------------------------
packages/rancher-sriov @rancher/rke1-team
assets/rancher-sriov @rancher/rke1-team
#--------------------------------------------------------------------------------------
packages/rancher-nfd @rancher/rke1-team
assets/rancher-nfd @rancher/rke1-team
#--------------------------------------------------------------------------------------
packages/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev
assets/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev
#--------------------------------------------------------------------------------------
packages/rancher-vsphere @rancher/rancher-team-2-hostbusters-dev
assets/rancher-vsphere @rancher/rancher-team-2-hostbusters-dev
#--------------------------------------------------------------------------------------
packages/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev
assets/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev
#--------------------------------------------------------------------------------------
packages/rancher-webhook @rancher/rancher-squad-frameworks
assets/rancher-webhook @rancher/rancher-squad-frameworks
#--------------------------------------------------------------------------------------
packages/remotedialer-proxy @rancher/rancher-squad-frameworks
assets/remotedialer-proxy @rancher/rancher-squad-frameworks
#--------------------------------------------------------------------------------------
packages/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev
assets/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev
#--------------------------------------------------------------------------------------
packages/rancher-compliance @rancher/infracloud-team
assets/rancher-compliance @rancher/infracloud-team
assets/rancher-compliance-crd @rancher/infracloud-team
#--------------------------------------------------------------------------------------
packages/rancher-istio @rancher/orbs
assets/rancher-istio @rancher/orbs
tests/rancher-istio @rancher/orbs
#--------------------------------------------------------------------------------------
packages/rancher-logging @rancher/orbs
assets/rancher-logging @rancher/orbs
assets/rancher-logging-crd @rancher/orbs
#--------------------------------------------------------------------------------------
packages/rancher-monitoring @rancher/orbs
assets/rancher-monitoring @rancher/orbs
assets/rancher-monitoring-crd @rancher/orbs
#--------------------------------------------------------------------------------------
packages/rancher-alerting @rancher/orbs
assets/rancher-alerting @rancher/orbs
#--------------------------------------------------------------------------------------
packages/rancher-backup @rancher/orbs
assets/rancher-backup @rancher/orbs
assets/rancher-backup-crd @rancher/orbs
#--------------------------------------------------------------------------------------
packages/rancher-monitoring-dashboards # need to add new owner
assets/rancher-monitoring-dashboards # need to add new owner
#--------------------------------------------------------------------------------------
packages/rancher-turtles # need to add new owner
assets/rancher-turtles # need to add new owner
