# Global Reviewer
docs @rancher/mapps
scripts @rancher/mapps
CNAME @rancher/mapps
Makefile @rancher/mapps
README.md @rancher/mapps
_config.yml @rancher/mapps
configuration.yaml @rancher/mapps
regsync.yaml @rancher/mapps
index.html @rancher/mapps

# Elemental 
packages/elemental @rancher/elemental

# Epinio 
packages/epinio @andreas-kupries

# Fleet
packages/fleet @rancher/fleet

# Harvester
packages/harvester @rancher/harvester

# Longhorn 
packages/longhorn @rancher/longhorn
packages/longhorn-crd @rancher/longhorn

# Neuvector
packages/neuvector @rancher/neuvector
packages/neuvector-monitor @rancher/neuvector

# Rancher AKS EKS GKE
packages/rancher-aks-operator @rancher/highlander
packages/rancher-eks-operator @rancher/highlander
packages/rancher-gke-operator @rancher/highlander

# Rancher Alerting 
packages/rancher-alerting @joshmeranda

# Rancher Backup
packages/rancher-backup @prachidamle

# Rancher CIS Benchmark 
packages/rancher-cis-benchmark @rancher/infracloud-team
tests/rancher-cis-benchmark @rancher/infracloud-team

# Rancher CSP Adapter
packages/rancher-csp-adapter @rancher/socket

# Rancher OPA Gatekeeper 
packages/rancher-gatekeeper @rancher/mapps

# Rancher Istio 
packages/rancher-istio @rancher/mapps
tests/rancher-istio @rancher/mapps

# Rancher Logging 
packages/rancher-logging @joshmeranda

# Rancher Monitoring 
packages/rancher-monitoring @joshmeranda

# Rancher SRIOV
packages/rancher-sriov @rancher/rke1-team
packages/rancher-nfd @rancher/rke1-team

# Rancher Provisioning CAPI
packages/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev

# Rancher VSphere  
packages/rancher-vsphere @rancher/rancher-team-2-hostbusters-dev

# Rancher Windows GSMA
packages/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev

# Rancher Webhook 
packages/rancher-webhook @rancher/rancher-team-1-neo-dev

# System Upgrade Controller
packages/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev

# UI Extension Operator
packages/ui-plugin-operator @rancher/mapps

