# Global Reviewer
/.github @rancher/release-team
/docs @rancher/release-team
/scripts @rancher/release-team
/CNAME @rancher/release-team
/Makefile @rancher/release-team
/README.md @rancher/release-team
/_config.yml @rancher/release-team
/configuration.yaml @rancher/release-team
/regsync.yaml @rancher/release-team
/index.html @rancher/release-team

# Elemental
packages/elemental @rancher/elemental
assets/elemental @rancher/elemental

# Fleet
packages/fleet @rancher/fleet
assets/fleet @rancher/fleet

# Harvester
packages/harvester @rancher/harvester
assets/harvester @rancher/harvester

# Longhorn
packages/longhorn @rancher/longhorn
packages/longhorn-crd @rancher/longhorn
assets/longhorn @rancher/longhorn
assets/longhorn-crd @rancher/longhorn

# Neuvector
packages/neuvector @rancher/neuvector
packages/neuvector-monitor @rancher/neuvector
assets/neuvector @rancher/neuvector
assets/neuvector-monitor @rancher/neuvector

# Rancher AKS EKS GKE
packages/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
packages/rancher-gke-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-aks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-eks-operator @rancher/highlander @rancher/infracloud-team
assets/rancher-gke-operator @rancher/highlander @rancher/infracloud-team


# Rancher Alerting
packages/rancher-alerting @rancher/observation-backup
assets/rancher-alerting @rancher/observation-backup

# Rancher Backup
packages/rancher-backup @rancher/observation-backup
assets/rancher-backup @rancher/observation-backup

# Rancher CIS Benchmark
packages/rancher-cis-benchmark @rancher/infracloud-team
tests/rancher-cis-benchmark @rancher/infracloud-team
assets/rancher-cis-benchmark @rancher/infracloud-team

# Rancher CSP Adapter
packages/rancher-csp-adapter @rancher/socket
assets/rancher-csp-adapter @rancher/socket

# Rancher OPA Gatekeeper
packages/rancher-gatekeeper @rancher/mapps
assets/rancher-gatekeeper @rancher/mapps

# Rancher Istio
packages/rancher-istio @rancher/mapps
tests/rancher-istio @rancher/mapps
assets/rancher-istio @rancher/mapps

# Rancher Logging
packages/rancher-logging @rancher/observation-backup
assets/rancher-logging @rancher/observation-backup

# Rancher Monitoring
packages/rancher-monitoring @rancher/observation-backup
assets/rancher-monitoring @rancher/observation-backup

# Rancher SRIOV
packages/rancher-sriov @rancher/rke1-team
packages/rancher-nfd @rancher/rke1-team
assets/rancher-sriov @rancher/rke1-team
assets/rancher-nfd @rancher/rke1-team

# Rancher Provisioning CAPI
packages/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev
assets/rancher-provisioning-capi @rancher/rancher-team-2-hostbusters-dev

# Rancher VSphere
packages/rancher-vsphere @rancher/rancher-team-2-hostbusters-dev
assets/rancher-vsphere-cpi @rancher/rancher-team-2-hostbusters-dev
assets/rancher-vsphere-csi @rancher/rancher-team-2-hostbusters-dev

# Rancher Windows GSMA
packages/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev
assets/rancher-windows-gsma @rancher/rancher-team-2-hostbusters-dev

# Rancher Webhook
packages/rancher-webhook @rancher/rancher-squad-frameworks
assets/rancher-webhook @rancher/rancher-squad-frameworks

# System Upgrade Controller
packages/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev
assets/system-upgrade-controller @rancher/rancher-team-2-hostbusters-dev

# UI Extension Operator
packages/ui-plugin-operator @rancher/mapps
assets/ui-plugin-operator @rancher/mapps
