# possible development files
.excalidraw
*.swp
.vscode
.idea

# binaries
bin
.charts-build-scripts
*.DS_Store

# logs during processes
*.log
logs/*

# ephemeral configurations
config/bump_version.json
config/state.json

# scripts sourced from automation-core
scripts/check-release-yaml
scripts/clean-scripts
scripts/forward-port
scripts/import-workflows
scripts/package-ci
scripts/remove-asset
scripts/release-validation/*
