logs/*
bin
*.DS_Store
.idea
.charts-build-scripts
*.swp
.vscode
*.log
config/state.json

# scripts sourced from automation-core
scripts/check-release-yaml
scripts/clean-scripts
scripts/forward-port
scripts/import-workflows
scripts/package-ci
scripts/remove-asset
scripts/release-validation/*
